*{
    box-sizing: border-box;
    padding: 0;
    max-width: 100%;
    margin: 0;
}
.card{
    /* width: 350px; */
    /* height: 350px; */
    padding: 20px;
    border: 2px solid black;
    box-shadow: 3px 3px 5px black;
    border-radius: 10px;
    padding: 2px;
}
.card > button, .card > div > button{
    padding: 10px 20px;
}

 .img {
    width:150px;
    height: 100px;
}
.cartCard{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}